{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />

    <title>TDG - Tecnología Digital y Gestión</title>
    <meta content="" name="description" />
    <meta content="" name="keywords" />

    <!-- Favicons -->
    <link href="{% static 'img/favicon_0.ico' %}" rel="icon" />
    <link
      href="{% static 'img/apple-touch-icon.png' %}"
      rel="apple-touch-icon"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Jost:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
      rel="stylesheet"
    />

    <!-- Vendor CSS Files -->
    <link href="{% static 'vendor/aos/aos.css' %}" rel="stylesheet" />
    <link
      href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}"
      rel="stylesheet"
    />
    <link
      href="{% static 'vendor/bootstrap-icons/bootstrap-icons.css' %}"
      rel="stylesheet"
    />
    <link
      href="{% static 'vendor/boxicons/css/boxicons.min.css' %}"
      rel="stylesheet"
    />
    <link
      href="{% static 'vendor/glightbox/css/glightbox.min.css' %}"
      rel="stylesheet"
    />
    <link
      href="{% static 'vendor/remixicon/remixicon.css' %}"
      rel="stylesheet"
    />
    <link
      href="{% static 'vendor/swiper/swiper-bundle.min.css' %}"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css"
      integrity="sha256-46r060N2LrChLLb5zowXQ72/iKKNiw/lAmygmHExk/o="
      crossorigin="anonymous"
    />

    <!-- Template Main CSS File -->
    <link href="{% static 'css/styles.css' %}" rel="stylesheet" />

    <!-- =======================================================
  * Template Name: Arsha - v4.3.0
  * Template URL: https://bootstrapmade.com/arsha-free-bootstrap-html-template-corporate/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
  </head>

  <body>
    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top">
      <div class="container d-flex align-items-center">
        <h1 class="logo me-auto">
          <a href="{% url 'home' %}">TDG | Tecsup</a>
        </h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html" class="logo me-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

        <nav id="navbar" class="navbar">
          <div class="openMenu"><i class="fa fa-bars"></i></div>
          <ul class="mainMenu">
            <li><a class="nav-link scrollto active" href="#hero">Inicio</a></li>
            <li><a class="nav-link scrollto" href="#about">Nosotros</a></li>
            <li><a class="nav-link scrollto" href="#noticias">Noticias</a></li>
            <li><a class="nav-link scrollto" href="#eventos">Eventos</a></li>
            <li><a class="nav-link scrollto" href="#carrera">Carreras</a></li>
            <li><a class="nav-link scrollto" href="#contacto">Contacto</a></li>
            <li><a class="nav-link scrollto" href="#"></a></li>
            <li class="dropdown">
              <a href="#"
                ><span>Aplicaciones</span> <i class="bi bi-chevron-down"></i
              ></a>
              <ul>
                <li><a href="{% url 'login' %}">Administrar</a></li>
                <li><a href="#">Activos</a></li>
                <li><a href="#">Constancias</a></li>
                <li><a href="#">Descriptores</a></li>
              </ul>
            </li>
            <div class="closeMenu"><i class="fa fa-times"></i></div>
          </ul>
        </nav>
        <!-- .navbar -->
      </div>
    </header>
    <!-- End Header -->

    {% block content %} {% endblock content %}
  </body>
</html>
